# python
__pycache__
venv
*.pyc
.coverage
htmlcov

# vim
*.swp
*~

# hatch
dist
.hatch
.venv

# dccp
dccp.log

# datasets
WDBC.dat.txt

# comparison
comparison_data.json

# jupyter
.ipynb_checkpoints
