# python
__pycache__
*.pyc
.coverage
htmlcov

# vim
*.swp
*~

# hatch
dist
.hatch
.venv

# dccp
dccp.log

# datasets
WDBC.dat.txt

# comparison
comparison.json

# jupyter
.ipynb_checkpoints

# Docs
docs
